.formopciones{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 50%;
    height: 100%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
   
} 
Label{
    text-align: start;   
    display: flex;  
}
input{
    width: 50%;
}